<div class="content">
  <div class="sidebar">
    <ul>
      <li><a href="browse.html">Restaurants</a></li>
      <li><a href="cart.html">Cart</a></li>
      <li><a href="track.html">Track Order</a></li>
      <li><a href="schedule.html">Schedule Order</a></li>
      <li><a href="history.html">Order History</a></li>
      <li><a href="profile.html">Profile Info</a></li>
      <li><a href="index.html">Sign Out</a></li>
    </ul>
  </div>
</div>
