<!DOCTYPE html>
<html>
  <head>
    <title>Go4Food Restaurant Catalog</title>
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

        <style>
                @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
               
                .formbold-mb-3 {
                  margin-bottom: 15px;
                }
                .formbold-relative {
                  position: relative;
                }
                .formbold-opacity-0 {
                  opacity: 0;
                }
                .formbold-stroke-current {
                  stroke: currentColor;
                }
                #supportCheckbox:checked ~ div span {
                  opacity: 1;
                }
              
                .formbold-main-wrapper {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 48px;
                }
              
                .formbold-form-wrapper {
                  margin: 0 auto;
                  max-width: 570px;
                  width: 100%;
                  background: white;
                  padding: 40px;
                }
              
                .formbold-img {
                  margin-bottom: 45px;
                }
              
                .formbold-form-title {
                  margin-bottom: 30px;
                }
                .formbold-form-title h2 {
                  font-weight: 600;
                  font-size: 28px;
                  line-height: 34px;
                  color: #07074d;
                }
                .formbold-form-title p {
                  font-size: 16px;
                  line-height: 24px;
                  color: #ef3d3d;
                  margin-top: 12px;
                }
              
                .formbold-input-flex {
                  display: flex;
                  gap: 20px;
                  margin-bottom: 15px;
                }
                .formbold-input-flex > div {
                  width: 50%;
                }
                .formbold-form-input {
                  /* text-align: center; */
                  width: 100%;
                  padding: 13px 22px;
                  border-radius: 5px;
                  border: 1px solid #ef3d3d;
                  background: #ffffff;
                  font-weight: 500;
                  font-size: 16px;
                  color: #ef3d3d;
                  outline: none;
                  resize: none;
                }
                .formbold-form-input:focus {
                  border-color: #ef3d3d;
                  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
                }
                .formbold-form-label {
                  color: #ef3d3d;
                  font-size: 14px;
                  line-height: 24px;
                  display: block;
                  margin-bottom: 10px;
                }
              
                .formbold-checkbox-label {
                  display: flex;
                  cursor: pointer;
                  user-select: none;
                  font-size: 16px;
                  line-height: 24px;
                  color: #ef3d3d;
                }
                .formbold-checkbox-label a {
                  margin-left: 5px;
                  color: #ef3d3d;
                }
                .formbold-input-checkbox {
                  position: absolute;
                  width: 1px;
                  height: 1px;
                  padding: 0;
                  margin: -1px;
                  overflow: hidden;
                  clip: rect(0, 0, 0, 0);
                  white-space: nowrap;
                  border-width: 0;
                }
                .formbold-checkbox-inner {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 20px;
                  height: 20px;
                  margin-right: 16px;
                  margin-top: 2px;
                  border: 0.7px solid #dde3ec;
                  border-radius: 3px;
                }
              
                .formbold-btn {
                  font-size: 16px;
                  border-radius: 5px;
                  padding: 14px 25px;
                  border: none;
                  font-weight: 500;
                  background-color: #ef3d3d;
                  color: white;
                  cursor: pointer;
                  margin-top: 25px;
                }
                .formbold-btn:hover {
                  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
                }
        </style>
        <link rel="stylesheet" href="../css/multiselect.css">
         
  </head>
  <body>
    <div class="container-fluid">
      <!-- navbar -->
      <%- include('header') %>
      <!-- Side bar -->
      <div class="content" style="min-height: 100vh; margin-top: 0px">
        <%- include('sidebar') %>
        <div class="restaurant-catalog">
            <h1>Create Menu</h1>
            <div class="formbold-main-wrapper">
                <!-- Author: FormBold Team -->
                <!-- Learn More: https://formbold.com -->
                <div class="formbold-form-wrapper">
        
                  <form action="#" method="POST">
              
                    <div class="formbold-input">
                      <div>
                        <label for="firstname" class="formbold-form-label">
                          Dish Name
                        </label>
                        <input
                          type="text"
                          name="firstname"
                          id="firstname"
                          class="formbold-form-input"
                        />
                      </div>
                      <!-- <div>
                        <label for="lastname" class="formbold-form-label"> Last name </label>
                        <input
                          type="text"
                          name="lastname"
                          id="lastname"
                          class="formbold-form-input"
                        />
                      </div> -->
                    </div>
              
                    <div class="formbold-input-flex">
                      <div>
                        <label for="email" class="formbold-form-label"> Dish price </label>
                        <input
                          type="email"
                          name="email"
                          id="email"
                          class="formbold-form-input"
                        />
                      </div>
                      <div>
                        <label for="phone" class="formbold-form-label"> Dish Quantity </label>
                        <input
                          type="text"
                          name="phone"
                          id="phone"
                          class="formbold-form-input"
                        />
                      </div>
                    </div>
              
                    <div class="formbold-mb-3">
                      <label for="address" class="formbold-form-label">
                        Dish Discription
                      </label>
                      <textarea
                        type="text"
                        name="address"
                        id="address"
                        class="formbold-form-input"
                         rows="5"
                          cols="80"
                      ></textarea>
                    </div>
              
                    <div class="formbold-mb-3">
                      <label for="address2" class="formbold-form-label">
                       Dish Teg 
                      </label>
                      <!-- <select  class="formbold-form-input"id="dishTags" name="dishTags" multiple >
                        <option value="tag1">Tag 1</option>
                        <option value="tag2">Tag 2</option>
                        <option value="tag3">Tag 3</option>
                        <option value="tag4">Tag 4</option>
                        <option value="tag5">Tag 5</option>
                      </select> -->

                      <select multiple="multiple" id="myMulti">
                        <option>Item 1</option>
                        <option>item 2</option>
                        <option>item 3</option>
                        <option>item 4</option>
                        
                      </select>
                       
                    </div>
        
                    <button class="formbold-btn">Register Now</button>
                  </form>
                </div>
              </div>
           
        </div>
    </div>
      <!--  main  -->
    </div>
    </div>
    </div>
     <script src="../js/multi.js"></script>
  </body>
</html>
