<!DOCTYPE html>
<html>
  <head>
    <title>Go4Food Restaurant Catalog</title>
        <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <div class="container-fluid">
      <!-- navbar -->
      <%- include('header') %>
      <!-- Side bar -->
      <div class="content" style="min-height: 100vh; margin-top: 0px">
        <%- include('sidebar') %>
        <div class="restaurant-catalog">
            <h1>Restaurant Catalog</h1>
        </div>
    </div>
      <!--  main  -->
    </div>
    </div>
    </div>
  </body>
</html>
