<div class="sidebar" style="border-radius: 0px">
  <ul>
    <li><a href="/restaurant/create-menu">Create Menu</a></li>
    <li><a href="cart.html">All Menu</a></li>
    <li><a href="track.html">Order Notification</a></li>
    <li><a href="history.html">Order Process</a></li>
    <li><a href="schedule.html">Analytics</a></li>
    <li><a href="profile.html">Restaurant Info</a></li>
    <li><a href="/restaurant/logout">Sign Out</a></li>
  </ul>
</div>
