<div class="sidebar" style="border-radius: 0px">
  <ul>
    <li><a href="dashboard">Home</a></li>
    <li><a href="/restaurant/createmenu">Create Menu</a></li>
    <li><a href="cart.html">All Menu</a></li>
    <li><a href="/restaurant/confirmorders">Confirm Orders</a></li>
    <li><a href="/restaurant/ordernotification">Order Notification</a></li>
    <li><a href="/restaurant/orderstatus">Order Process</a></li>
    <li><a href="schedule.html">Analytics</a></li>

    <li><a href="profile.html">Restaurant Info</a></li>
    <li>
      <form action="/restaurant/logout" method="post">
        <a>
          <button
            style="
              background: transparent;
              font-size: 18px;
              outline: none;
              color: white;
              border: none;
              size: 30px;
            "
            onMouseOver="this.style.color='#ef3d3d'"
            ;
            onMouseOut="this.style.color='white'"
            ;
            type="submit"
          >
            Logout
          </button>
        </a>
      </form>
    </li>

    <!-- <li><a href="index.html">Sign Out</a></li> -->
  </ul>
</div>
